* {
  background-color: black;
  color: white;
}

.parentlink {
  background-color: rgb(23, 20, 197);
}

.mylink {
  color: red;
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  border: 2px solid red;
  text-align: center;
  display: inline-block;
}

.mylink:hover {
  color: white;
}

.title:hover {
  color: red;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid white;
  padding: 5px;
  width: 100%;
  text-align: center;
}
